<div class="u-margin-bottom-medium"></div>
<div class="row">
    <div class="card-grid">
        <div class='class__card'>
            <div class='class__card-details'>
                <p class="card-paragraph">Welcome to English Class</p>
                <p class="card-paragraph-small">Duration: 21 mins</p>
            </div>
        </div>
        <div class='class__card'>
            <div class='class__card-details'>
                <p class="card-paragraph">Beauty</p>
                <p class="card-paragraph-small">
                    <em>Duration: 21 mins</em>
                </p>
                <p class="card-paragraph-small">
                    Description: <br>
                    Hey
                </p>
            </div>
        </div>
    </div>
</div>