<div class="u-margin-bottom-medium"></div>
<div class="row">
    <div class="card-grid">
        <a href="/class">
            <div class='class__card'>
                <div class='class__card-details'>
                    <p class="card-paragraph">Beauty</p>
                    <p class="card-paragraph-small">
                        <em>Duration: 21 mins</em>
                    </p>
                    <p class="card-paragraph-description">
                        Description: <br>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla at tempore vel iure voluptate
                        officiis beatae totam corrupti corporis optio, odit, qui consectetur accusamus veritatis, neque
                        molestiae asperiores dolor nihil?
                    </p>
                </div>
            </div>
        </a>
        <a href="/class">
            <div class='class__card'>
                <div class='class__card-details'>
                    <p class="card-paragraph">Beauty</p>
                    <p class="card-paragraph-small">
                        <em>Duration: 21 mins</em>
                    </p>
                    <p class="card-paragraph-description">
                        Description: <br>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla at tempore vel iure voluptate
                        officiis beatae totam corrupti corporis optio, odit, qui consectetur accusamus veritatis, neque
                        molestiae asperiores dolor nihil?
                    </p>
                </div>
            </div>
        </a>
        <a href="/class">
            <div class='class__card'>
                <div class='class__card-details'>
                    <p class="card-paragraph">Beauty</p>
                    <p class="card-paragraph-small">
                        <em>Duration: 21 mins</em>
                    </p>
                    <p class="card-paragraph-description">
                        Description: <br>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla at tempore vel iure voluptate
                        officiis beatae totam corrupti corporis optio, odit, qui consectetur accusamus veritatis, neque
                        molestiae asperiores dolor nihil?
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>