<div class="row">
    <div class="grid-card">
        <div class='class__card'>
            <div class='class__card-details'>
                <p>Lecture 1: Welcome to English Class</p>
                <p>Duration: 21 mins</p>
            </div>
        </div>
    </div>
</div>