<div class="row">
    <div class='u-margin-bottom-medium'></div>
    <div class="col-1-of-3">
        <div class="card">
            <div class="card__side card__side--front">
                <div class="card__picture card__picture--1">
                    &nbsp;
                </div>
                <h4 class="card__heading">
                    <span class="card__heading-span card__heading-span--1">
                        University Level English
                    </span>
                </h4>
                <div class="card__details">
                    <ul>
                        <li>17+ Classes</li>
                        <li>Lifetime Access</li>
                        <li>Tefl Certified Teaching Guidance</li>
                        <li>Teaching Materials</li>
                        <li>Required Level: Intermediate</li>
                    </ul>
                </div>
            </div>
            <div class="card__side card__side--back card__side--back-1">
                <div class="card__cta">
                    <div class="card__price-box">
                        <p class="card__price-only">Only</p>
                        <p class="card__price-value">&pound;49.99</p>
                    </div>
                    <a href="#popup" class="btn btn--white">View now!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-1-of-3">
        <div class="card">
            <div class="card__side card__side--front">
                <div class="card__picture card__picture--2">
                    &nbsp;
                </div>
                <h4 class="card__heading">
                    <span class="card__heading-span card__heading-span--2">
                        Coming Soon: Junior Learners
                    </span>
                </h4>
                <div class="card__details">
                    <ul>
                        <li></li>
                        <li></li>
                        <li><i class="feature-box__icon icon-basic-spread-text-bookmark"></i></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="card__side card__side--back card__side--back-2">
                <div class="card__cta">
                    <!-- <div class="card__price-box">
                        <p class="card__price-only">...</p>
                        <p class="card__price-value">Coming soon</p>
                    </div> -->
                    <a href="#popup" class="btn btn--white">View All Courses!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-1-of-3">
        <div class="card">
            <div class="card__side card__side--front">
                <div class="card__picture card__picture--3">
                    &nbsp;
                </div>
                <h4 class="card__heading">
                    <span class="card__heading-span card__heading-span--3">
                        Coming Soon: Young Learners
                    </span>
                </h4>
                <div class="card__details">
                    <ul>
                        <li></li>
                        <li></li>
                        <li><i class="feature-box__icon_1 icon-basic-spread-text-bookmark"></i></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="card__side card__side--back card__side--back-3">
                <div class="card__cta">
                    <!-- <div class="card__price-box">
                        <p class="card__price-only"></p>
                        <p class="card__price-value"></p>
                    </div> -->
                    <a href="#popup" class="btn btn--white">View All Courses!</a>
                </div>
            </div>
        </div>
    </div>
</div>