<nav class="nav-home">

    <div>
        <img src="img/logo-white.png" alt="logo" class="header__logo">
    </div>
    <div style='display: flex'>
        <a href="#" class="nav__el-home">All Courses</a>
        <% if (locals.user) { %>
        <a href='#' class="nav__el-home">My Courses</a>
        <a class="nav__el-home nav__el--logout">Log Out</a>
        <a href='#' class="nav__el-home ">
            <image src='img/user/Alan5.jpg' class="nav__user-img" alt='User photo' />
        </a>
        <% } else { %>
        <a href='/login' class="nav__el-home">Log In</a>
        <a href='/signup' class="nav__el-home nav__el--cta-home">Sign up</a>
        <% } %>
    </div>
</nav>