<nav class="nav">

    <div>
        <img src="img/logo-white.png" alt="logo" class="header__logo">
    </div>
    <div>
        <!-- <a href="#" class="nav__el">My Courses</a> -->
        <a href="#" class="nav__el">All Courses</a>
        <!-- <a href="#" class="nav__el">
            <img src="img/user.jpg" alt="User photo" class="nav__user-img" />
            <span>Jonas</span>
        </a> -->

        <button class="nav__el">Log in</button>
        <button class="nav__el nav__el--cta">Sign up</button>
    </div>
</nav>