<nav class="nav">

    <img src="img/logo-white.png" alt="logo" class="nav__logo">
    <!-- <a href="#" class="nav__el">My Courses</a> -->
    <div class='nav__els'>
        <a href="#" class="nav__el">All Courses</a>

        <button href='/login' class="nav__el">Log in</button>
        <button href='/signup' class="nav__el nav__el--cta">Sign up</button>
    </div>
    <div class='u-margin-bottom-big'>

    </div>
</nav>