<section class="section-fillin">
    <div class="row">
        <div class="fillin">
            <div class="fillin__form">
                <div class="u-margin-bottom-medium">
                    <h2 class="heading-secondary">
                        Reset Forgotten Password
                    </h2>
                </div>
                <form action="#" class="form">
                    <div class="form__group">
                        <input id="password" type="password" class="form__input" placeholder="Password" required>
                        <label for="password" class="form__label">New Password</label>
                    </div>

                    <div class="form__group">
                        <input id="passwordConfirm" type="password" class="form__input" placeholder="Confirm Password"
                            required>
                        <label for="passwordConfirm" class="form__label">Password Confirm</label>
                    </div>

                    <div class="form__group">
                        <button class="btn btn--green">Reset Password &rarr;</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <var><% resetToken %> </var>
</section>