<section class="section-fillin">
    <div class="row">
        <div class="fillin">
            <div class="fillin__form">
                <div class="u-margin-bottom-medium">
                    <h2 class="heading-secondary">
                        What's your email? We'll send a reset password email to you.
                    </h2>
                </div>
                <form action="#" class="form">
                    <div class="form__group">
                        <input id="email" type="email" class="form__input" placeholder="Email" required>
                        <label for="email" class="form__label">Email</label>
                    </div>

                    <div class="form__group">
                        <button class="btn btn--green">Reset Password Email &rarr;</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>