<html lang="en">

<head>
    <%- include('../partials/head') -%>
</head>

<body>
    <%- include('../partials/nav') -%>
    <%- include('../partials/class-card') -%>
    <%- include('../partials/footer') -%>
</body>

</html>