<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>
    <%- include('../partials/course-card') %>
    <%- include('../partials/footer') %>
</body>

<script src='/js/logout.js'>
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js'>
</script>

</html>