<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>

</body>
<main class="main">
    <div class="error">
        <div class="error-title">
            <h2 class="heading-secondary heading-secondary--error">
                Uh oh! Something went wrong!
            </h2>
        </div>
        <div class="error__msg">
            <%= msg %>
        </div>
    </div>
</main>

</html>