<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="css/icon-font.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="shortcut icon" type="image/png" href="img/favicon.png"> -->

    <title>aiLearningOnline | Continue Your Learning Journey</title>
</head>

<body>

    <%- include('../partials/nav-home') -%>

    <header class="header">
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">aiLO</span>
                <span class="heading-primary--sub">is your online learning space</span>
            </h1>
            <a href="#section-courses" class="btn btn--white btn--animation">Discover Courses</a>
        </div>
    </header>

    <main>
        <section class="section-about">
            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-secondary">
                    Classes for English language learners
                </h2>
            </div>

            <div class="row">
                <div class="col-1-of-2">
                    <h3 class="heading-tertiary u-margin-bottom-small">
                        Lifetime access to high quality online English courses.
                    </h3>
                    <p class="paragraph">
                        I'm putting the teaching material of my courses on this online platform which I have accumulated
                        over 3 years of teaching. Have class at your convenience!
                    </p>

                    <h3 class="heading-tertiary u-margin-bottom-small">
                        Learn authentic native English.
                    </h3>
                    <p class="paragraph">
                        I'm a British native English teacher with a passion for teaching. Join me in my classes today
                        and we can continue your learning journey together!
                    </p>

                    <a href="#" class="btn-text">Learn More &rarr;</a>
                </div>
                <div class="col-1-of-2">
                    <div class="composition">

                        <img srcset="img/ailo-1.jpg 300w, img/ailo-1.jpg 1000w"
                            sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" alt="Photo 1"
                            class="composition__photo composition__photo--p1" src="img/ailo-1.jpg">
                        <img srcset="img/ailo-2.jpg 300w, img/ailo-2.jpg 1000w"
                            sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" alt="Photo 2"
                            class="composition__photo composition__photo--p2" src="img/ailo-2.jpg">
                        <img srcset="img/ailo-3.jpg 300w, img/ailo-3.jpg 1000w"
                            sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" alt="Photo 3"
                            class="composition__photo composition__photo--p3" src="img/ailo-3.jpg">

                    </div>
                </div>
            </div>

        </section>

        <section class="section-features">
            <div class="row">
                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-video"></i>
                        <h3 class="heading-tertiary u-margin-bottom-small">
                            Hours of video
                        </h3>
                        <p class="feature-box__text">
                            Our video content is all hosted on this website so you can review your classes any time!
                        </p>
                    </div>
                </div>
                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-star"></i>
                        <h3 class="heading-tertiary u-margin-bottom-small">
                            Regular updates
                        </h3>
                        <p class="feature-box__text">
                            After your purchase you will continually receive more classes to reach the next level of
                            your English!
                        </p>
                    </div>
                </div>
                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-question"></i>
                        <h3 class="heading-tertiary u-margin-bottom-small">
                            Speaking Topics
                        </h3>
                        <p class="feature-box__text">
                            Each class has speaking topics to enable you to practice your speaking with interesting
                            conversations.
                        </p>
                    </div>
                </div>
                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-heart"></i>
                        <h3 class="heading-tertiary u-margin-bottom-small">
                            English Materials
                        </h3>
                        <p class="feature-box__text">
                            All material is specially designed for the course to provide a great learning experience.
                        </p>
                    </div>
                </div>
            </div>

        </section>

        <section class="section-courses" id="section-courses">
            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-secondary">
                    Most popular courses
                </h2>
            </div>

            <div class="row">
                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--1">
                                &nbsp;
                            </div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span--1">
                                    University Level English
                                </span>
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li>17+ Classes</li>
                                    <li>Lifetime Access</li>
                                    <li>Tefl Certified Teaching Guidance</li>
                                    <li>Teaching Materials</li>
                                    <li>Required Level: Intermediate</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-1">
                            <div class="card__cta">
                                <div class="card__price-box">
                                    <p class="card__price-only">Only</p>
                                    <p class="card__price-value">&pound;49.99</p>
                                </div>
                                <a href="#popup" class="btn btn--white">View now!</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--2">
                                &nbsp;
                            </div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span--2">
                                    Coming Soon: Junior Learners
                                </span>
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li><i class="feature-box__icon icon-basic-spread-text-bookmark"></i></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-2">
                            <div class="card__cta">
                                <!-- <div class="card__price-box">
                                    <p class="card__price-only">...</p>
                                    <p class="card__price-value">Coming soon</p>
                                </div> -->
                                <a href="#popup" class="btn btn--white">View All Courses!</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--3">
                                &nbsp;
                            </div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span--3">
                                    Coming Soon: Young Learners
                                </span>
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li><i class="feature-box__icon_1 icon-basic-spread-text-bookmark"></i></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-3">
                            <div class="card__cta">
                                <!-- <div class="card__price-box">
                                    <p class="card__price-only"></p>
                                    <p class="card__price-value"></p>
                                </div> -->
                                <a href="#popup" class="btn btn--white">View All Courses!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="u-center-text u-margin-top-huge">
                <a href="#" class="btn btn--green">Discover all courses</a>
            </div>

        </section>

        <section class="section-stories">
            <div class="bg-video">
                <video class="bg-video__content" autoplay muted loop>
                    <source src="img/video.mp4" type="video/mp4">
                    <source src="img/video.webm" type="video/webm">
                    Your browser is not supported!
                </video>
            </div>

            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-secondary">
                    Student Testimonials
                </h2>
            </div>
            <div class="row">
                <div class="story">
                    <figure class="story__shape">
                        <img src="img/ailo-4.jpg" alt="Profile image" class="story__img">
                        <figcaption class="story__caption">Helen Yahontov</figcaption>
                    </figure>
                    <div class="story__text">
                        <h3 class="heading-tertiary u-margin-bottom-small">Alan is a great teacher!</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur
                            libero repellat quis consequatur
                            ducimus quam nisi exercitationem omnis earum qui. Aperiam, ipsum sapiente aspernatur libero.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="story">
                    <figure class="story__shape">
                        <img src="img/ailo-5.jpg" alt="Person profile" class="story__img">
                        <figcaption class="story__caption">Li HuaYun</figcaption>
                    </figure>
                    <div class="story__text">
                        <h3 class="heading-tertiary u-margin-bottom-small">I loved the course materials!</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur
                            libero repellat quis consequatur
                            ducimus quam nisi exercitationem omnis earum qui. Aperiam, ipsum sapiente aspernatur libero.
                        </p>
                    </div>
                </div>
            </div>

            <!-- <div class="u-center-text u-margin-text-huge">
                <a href="#" class="btn-text">Read all stories &rarr;</a>
            </div> -->

        </section>

    </main>

    <%- include('../partials/footer') -%>
</body>

</html>