<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>
    <%- include('../partials/signup') %>
    <%- include('../partials/footer') %>
</body>

</html>